/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li,
form {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: black;
}

/* Header styles */
header {
  background-color: rgb(0, 0, 10);
  color: white;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(255, 250, 250, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header .menu-icon {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-right: 1rem;
  background-color: rgb(3, 3, 32);
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Navigation menu styles for PC */
#navMenu {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(3, 3, 32);
}

#navMenu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: rgb(3, 3, 32);
}

#navMenu ul li {
  margin-right: 1rem;
}

#navMenu ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
}

/* Hide the navigation menu by default on mobile screens */
@media screen and (max-width: 768px) {
  header .logo {
    flex-basis: 50%;
    text-align: left;
  }

  header .menu-icon {
    display: block;
    flex-basis: 50%;
    text-align: right;
  }

  header nav {
    display: none;
    flex-basis: 100%;
    text-align: center;
    background-color: white;
    padding: 1rem;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    flex-basis: auto;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  header nav ul li:last-child {
    margin-bottom: 0;
  }
}

/* Landing section styles */
.landing-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 10);
    padding: 2rem;
  }
  
  .landing-section img {
    width: 250px;
    height: 250px;
  }
  
  .about-me-container {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: white;
  }
  
  .about-me-container h2 {
    font-size: 2rem; /* Update the font-size for h2 in the about-me-container */
  }
  
  .about-me-container h1 {
    font-size: 2.5rem; /* Update the font-size for h1 in the about-me-container */
  }
  
  .about-me-container p {
    font-size: 1rem;
    font-weight: bold;
    color: lightgray;
  }
  
  /* Responsive styles for mobile */
  @media screen and (max-width: 768px) {
    .landing-section {
      flex-direction: column; /* Display the sections in a column on mobile */
      padding: 1rem; /* Reduce the padding for mobile view */
    }
  
    .landing-section img {
      margin-bottom: 1rem; /* Add some space between the profile image and the text on mobile */
    }
  
    .about-me-container {
      max-width: 100%;
      text-align: center; /* Center align the text on mobile */
    }
  
    .about-me-container h2 {
      font-size: 1.8rem; /* Update the font-size for h2 in the about-me-container on mobile */
    }
  
    .about-me-container h1 {
      font-size: 2rem; /* Update the font-size for h1 in the about-me-container on mobile */
    }
  
    .about-me-container p {
      font-size: 1rem;
      font-weight: bold;
      color: lightgray;
    }
  }
  
/* Button section styles */
.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 10);
  }
  
  .button1,
  .button2 {
    width: 200px; /* Set a fixed width for both buttons */
    height: 50px; /* Set a fixed height for both buttons */
    align-items: center;
  }
  
  /* Adjust button styles as needed */
  .button1 {
    background-color: #9370DB;
    color: white;
    font-size: 1.2rem;
    padding: 1rem 0; /* Center the text vertically */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .button1:hover {
    background-color: #6a5acd;
  }
  
  .button2 {
    background-color: black;
    color: white;
    font-size: 1.2rem;
    padding: 1rem 0; /* Center the text vertically */
    border: 2px solid #6a5acd;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .button2:hover {
    background-color: #6a5acd;
  }
  

/* About me section styles */
.about-me-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 2rem;
  margin-top: 2rem;
}

.about-me-section p {
  font-size: 14px;
}

.about-me-section h1 {
  font-size: 160%;
}
/* Social Icons */
.social-icons {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .social-icons a {
    color: #6A5ACD;
    font-size: 30px;
    transition: color 0.3s ease;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: white;
  }
  
  /* Contact Info */
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #6A5ACD; /* Add background color to contact info */
  }
  .contact-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: white;
    font-size: 19px;
    font-weight: bold;
  }
  .contact-header-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: white;
    font-size: 16px;
  }
  
  .contact-item a {
    color: #6A5ACD;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .contact-item a:hover {
    color: white;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .about-me-section {
      flex-direction: column;
    }
  }
  
  
/* Skills Section styles */
.skills-section {
    margin-top: 2rem;
    text-align: center;
}

.skills-box-title {
    color: #6A5ACD;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.skills-box-title p {
    color: white;
    font-size: 1rem;
}

/* Skill Boxes Carousel */
.skills-carousel {
    display: flex; /* Use Flexbox to create a horizontal row */
    overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
    gap: 20px;
    /* justify-content: center; */
}

.skill-box {
    min-width: 150px; /* Set a minimum width for all skill boxes */
    height: 150px; /* Set a fixed height for all skill boxes */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #6A5ACD;
    border-radius: 10px;
}

.skill-icon {
    font-size: 40px;
    color: #6A5ACD;
    margin-bottom: 10px;
}

.skill-title {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

/* Hover style */
.skill-box:hover {
    background-color: #6A5ACD;
    color: white;
}



.portfolio-section {
  padding: 2rem 0;
}

.portfoilo-box-title {
  color: #6A5ACD;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 10px;
  text-align: left; /* Align title to the left */
}

.portfoilo-box-title-description {
  color: white;
  font-size: 1rem;
  text-align: left; /* Align description to the left */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.portfoilo-box {
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 20px;
  background-color: #585252;
  border-radius: 10px;
  margin-bottom: 10px;
}

.portfoilo-box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.portfoilo-box h2 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.portfoilo-box p {
  color: white;
  font-size: 1rem;
}

/* Hover effect */
.portfoilo-box:hover {
  background-color: #6A5ACD;
  color: white;
}

/* Adjust portfolio box layout on smaller screens */
@media screen and (max-width: 768px) {
  .portfolio-section {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* My Technologies Section styles */
.my-technologies-section {
    text-align: center;
    margin-bottom: 30px;
}

.my-technologies-title {
    color: #6A5ACD;
}

/* Technologies Carousel */
.technologies-carousel {
    display: flex; /* Use Flexbox to create a horizontal row */
    overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
    gap: 20px;
}

.my-technologies-section .grid-item {
    text-align: center;
    background-color: #6A5ACD;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.my-technologies-section .grid-item img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

.my-technologies-section .grid-item h3 {
    margin-top: 10px;
    color: #333;
}

.my-technologies-section .grid-item:hover {
    background-color: #6A5ACD;
    color: white;
}


/* Contact Section */
.contact-section {
    display: grid;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #6A5ACD;
    color: white;
    text-align: center;
  }
  
  .contact-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: white;
  }
  
  .contact-section p {
    font-size: 16px;
    margin-bottom: 30px;
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column; /* Change to flexbox and column direction */
    align-items: center; /* Center the form contents horizontally */
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #6A5ACD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #4b3f9d;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .contact-section {
      max-width: 100%;
      padding: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .contact-section h2 {
      font-size: 24px;
      color: white;
    }
  
    .contact-section p {
      font-size: 14px;
      color: white;
    }
  }
  

/* Footer styles */
footer {
  background-color: rgb(0, 0, 10);
  color: white;
  text-align: center;
  padding: 1rem;
}

/* Add responsive styles */
@media screen and (max-width: 768px) {
  /* Mobile styles */

  /* Header styles */
  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  /* Landing section styles */
  .landing-section {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .profile-container {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .about-me-container {
    max-width: 100%;
    margin: 1rem;
    text-align: center;
  }

  /* Button section styles */
  .button1,
  .button2 {
    max-width: 100%;
  }

  /* Portfolio section styles */
  .portfolio-section {
    padding: 1rem;
  }

  .portfoilo-box {
    max-width: 100%;
  }

  /* My Technologies Section */
  .my-technologies-section .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Contact Section */
  .contact-section {
    padding: 1rem;
  }

  form {
    max-width: 100%;
  }
}
